<tr>
  <td><%=h requirement.description %></td>
  <td><%=h requirement.points %></td>
  <td class="nav"><%= link_to 'Edit', xxx@xxx.xxx %></td>
  <td class="nav"><%= link_to 'Destroy', xxx@xxx.xxx :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
