<p>
  <b>Lab:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Description:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Points:</b>
  xxx@xxx.xxx %>
</p>


<%= link_to 'Edit', xxx@xxx.xxx %> |
<%= link_to 'Back', xxx@xxx.xxx @lab ) %>
