<div class="block <%= double_width_if_main(defined? main) %> materials header">
	<header><h4><%= link_to "Materials", xxx@xxx.xxx %></h4></header>
	
	<ul class="actions">
		<li><%= link_to "New Material", xxx@xxx.xxx %></li>
	</ul>
</div>
