<div class="block <%= double_width_if_main(defined? main) %>">
	<h4><%= link_to "Materials", xxx@xxx.xxx %></h4>
	
	<ul class="actions">
		<li><%= link_to "New Material", xxx@xxx.xxx %></li>
	</ul>
</div>
