<div class="block <%= double_width_if_main(defined? main) %> materials header">
	<header>
		<%= link_to xxx@xxx.xxx do %>
			<h4>Materials</h4>
		<% end %>
	</header>
	
	<ul class="actions">
		<li><%= link_to "New Material", xxx@xxx.xxx %></li>
	</ul>
</div>
