<%= content_for :header do %>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx :class => "icon back" %>
	</nav>
	
	<header>
		<p>for xxx@xxx.xxx %></p>
xxx@xxx.xxx %></h1>
	</header>

	<%= render "form" %>
</section>
