<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h4>Edit Status</h4>
<% end %>

<nav>
		<li><%= link_to admin_enrollment_statuses_path do %> <%= render :partial => "shared/back_link" %> <% end %></li>
	</nav>

<%= render :partial => "form", :locals => {:submit_name => 'Update'} %>
