<%= content_for :header do %>
	<h1>Enrollment Statuses</h1>
<% end %>

<section>
	<nav>
		<%= link_to "Back", admin_enrollment_statuses_path, :class => "icon back" %>
	</nav>

	<header>
		<p>Add a new</p>
		<h1>Enrollment Status</h1>
	</header>

	<%= render :partial => "form", :locals => {:submit_name => 'Create'} %>
</section>
