<%= content_for :header do %>
	<h1>Enrollment Statuses</h1>
	<h4>Add a new status</h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to admin_enrollment_statuses_path do %> <%= render :partial => "shared/back_link" %> <% end %></li>
	</ul>
</div>

<%= render :partial => "form", :locals => {:submit_name => 'Create'} %>
