<div class="block <%= double_width_if_main(defined? main) %> tutorials header">
	<header>
		<%= link_to xxx@xxx.xxx do %>
			<h4>Tutorials</h4>
		<% end %>
	</header>
	
	<ul class="actions">
		<li class="icon"><%= link_to xxx@xxx.xxx {class: "icon icon-plus", title: "New"} do %><span class="text_label">New How To</span><% end %></li>
	</ul>
</div>
