<div class="block <%= double_width_if_main(defined? main) %> tutorials header">
	<header>
		<%= link_to xxx@xxx.xxx do %>
			<h4>Tutorials</h4>
		<% end %>
	</header>
	
	<ul class="actions">
		<li><%= link_to "New How To", xxx@xxx.xxx %></li>
	</ul>
</div>
