<div class="block <%= double_width_if_main(defined? main) %> tutorials header">
	<header><h4><%= link_to "Tutorials", xxx@xxx.xxx %></h4></header>
	
	<ul class="actions">
		<li><%= link_to "New How To", xxx@xxx.xxx %></li>
	</ul>
</div>
