<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h2>A book for xxx@xxx.xxx %></h2>
<% end %>

<nav>
		<%= link_to 'Back', xxx@xxx.xxx :class => "icon back" %>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => 'shared/edit_link' %> <% end %></li>
	</nav>

<p>
  <strong>Author:</strong>
  xxx@xxx.xxx %>
</p>

<p>
  <strong>Publisher:</strong>
  xxx@xxx.xxx %>
</p>

<p>
  <strong>Isbn:</strong>
  xxx@xxx.xxx %>
</p>

<p>
  <strong>Required:</strong>
  xxx@xxx.xxx %>
</p>
