<div class="block <%= double_width_if_main(defined? main) %> objectives headers">
	<h4><%= link_to "Objectives", xxx@xxx.xxx %></h4>
	
	<ul>
		<li><%= link_to 'New Objective', xxx@xxx.xxx %></li>
	</ul>
</div>
