<tr id="<%= objective.id.to_s %>">
	<td><%= objective.description %></td>
	<td><%= link_to 'Edit', edit_admin_course_objective_path(@course,objective) %></td>
	<td><%= link_to 'Destroy', [:admin,@course,objective], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></td>
</tr>
