<%= content_for :header do %>
	<h1>for xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx class: "icon back" %>
	</nav>

	<header>
		<p>Objective</p>
xxx@xxx.xxx %></h1>
	</header>

	<%= render partial: 'form', locals: {submit_name: 'Update'} %>
</section>
