
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render 'objectives_header' %>

<div class="block objectives">
	<header>
		<p><%= @course.title %></p>
		<h4>Edit Objective</h4>
	</header>
</div>

<%= render 'form' %>
