<%= render 'admin/admin/admin_header' %>
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>
<%= render 'objectives_header' %>

<div class="block objectives">
	<header>
		<h4>New Objective</h4>
		<p>for xxx@xxx.xxx %></p>
	</header>
</div>

<%= render 'form' %>
