xxx@xxx.xxx %></h3>
<h1>Objective</h1>
<h2></h2>

<hr/>

<p>
  <strong>Description:</strong>
  xxx@xxx.xxx %>
</p>

<p class="nav">
	<%= link_to 'Back', xxx@xxx.xxx %>
	<%= link_to 'Edit', xxx@xxx.xxx %>
</p>
