<div class="block <%= double_width_if_main(defined? main) %>">
	<header><h2><%= link_to 'Assignments', xxx@xxx.xxx %></h2></header>
	<nav>
		<ul>
			<li><%= link_to( 'RSS' , xxx@xxx.xxx :format => :rss), :class => 'icon rss' ) %></li>
			<li><%= link_to( 'ICAL', xxx@xxx.xxx :format => :ics, :protocol => 'webcal'), :title => 'Subscribe to this classes assignments calendar using Outlook or iCal', :class => 'icon ical' ) %></li>
		</ul>
	</nav>
</div>
