<div class="block <%= double_width_if_main(defined? main) %> meetings header">
	<header>
		<%= link_to admin_semester_section_meetings_path(section.semester,section) do %>
			<p><%= pluralize section.meetings_complete.size, "Meeting" %> complete, <%= section.meetings_not_complete.size %> remaining</p>
			<h5>Meetings</h5>
		<% end %>
	</header>
</div>
