<div class="block websites">
	<header>
		<p><%= website.title %></p>
	  <h4>Website</h4>
	</header>

	<p><%= link_to website.url %></p>

	<ul>
	  <li><%= link_to 'Edit', xxx@xxx.xxx %></li>
	  <li><%= link_to 'Destroy', xxx@xxx.xxx method: :delete, data: {confirm: 'Are you sure?'}, remote: true %></li>
	</ul>
</div>
