<div class="block websites">
	<header>
	  <h4><%= website.title %></h4>
	  <p><%= website.url %></p>
	</header>
	
	<ul>
	  <li><%= link_to 'Edit', xxx@xxx.xxx %></li>
	  <li><%= link_to 'Destroy', xxx@xxx.xxx method: :delete, data: {confirm: 'Are you sure?'}, remote: true %></li>
	</ul>
</div>
