<div class="block websites">
	<header>
		<p><%= website.title %></p>
	  <h4>Website</h4>
	</header>

	<ul>
		<li class="icon"><%= link_to edit_admin_course_website_path(@course,website), {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
		<li><%= link_to 'Destroy', [:admin,@course,website], method: :delete, data: {confirm: 'Are you sure?'}, remote: true %></li>
	</ul>

	<p><%= link_to website.url %></p>
</div>
