
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render partial: 'websites_header' %>

<div class="block websites">
	<header>
		<h4>Edit Website for</h4>
		<p><%= @course.title %></p>
	</header>
</div>

<%= render 'form' %>
