<p id="notice"><%= notice %></p>

<p>
  <b>Attendance status:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Meeting:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Enrollment:</b>
  xxx@xxx.xxx %>
</p>


<%= link_to 'Edit', xxx@xxx.xxx %> |
<%= link_to 'Back', admin_attendances_path %>
