<%= content_for :header do %>
	<h1>Student</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', admin_students_path, :class => "icon back" %>
	</nav>

	<header>
		<p>Student has taken <%= xxx@xxx.xxx "class" %></p>
xxx@xxx.xxx %></h1>
	</header>
	
	<%= render :partial => 'form', :locals => {:submit_name => 'Update'} %>
</section>
