<%= content_for :header do %>
	<h1>New Student</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx @section ), :class => "icon back"%>
	</nav>

	<header>
		<p>Add new Student to</p>
xxx@xxx.xxx %></h1>
	</header>

	<%= render :partial => 'form', :locals => {:submit_name => 'Create'} %>
</section>
