<% xxx@xxx.xxx %>

<div class="edge2edge">
xxx@xxx.xxx %></h1>
	<%= link_to "Home", '/', :id => 'back_button', :class => 'button' %>
</div>


<div class="rounded">
	<ul>
xxx@xxx.xxx %></li>
xxx@xxx.xxx %></li>
	</ul>
	
	<ul>
		<li>
			<span class="value"></span>Tulsa Community College - xxx@xxx.xxx %>
		</li>
		<li>
			Office Number: <span xxx@xxx.xxx %></span>
		</li>
	</ul>
	
	<h1>Contact</h1>
	<ul>
		<li>
			<%= link_to( 'Office xxx@xxx.xxx ) %>
		</li>
		<li>
xxx@xxx.xxx %>
		</li>
		<li>
			<%= xxx@xxx.xxx %>
		</li>
		<li>
			<%= xxx@xxx.xxx %>
		</li>
	</ul>
</div>
