@font-face {
	font-family: 'Copperplate';
	src: url( '../fonts/Copperplate Gothic Light.ttf' ) format('truetype');
}

@font-face {
	font-family: 'Miso';
	src: url( '../fonts/Miso.OTF' ) format('truetype');
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	color: #444;
	background-color: #fff;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0;
}

#page {
	text-align: left;
	margin: 0 0 0 150px;
}

/* --------------------------- */
/* Custom tags                 */
/* --------------------------- */

.clear {
	clear: both;
}

.right {

}

.red {
	color: #d00;
}

.red_bg {
	background-color: #f11;
}

.green {
	color: #070;
}

.light {
	font-size: .8em;
	color: #888;
	display: inline;
}

.hidden {
/*	display: none;*/
}

/* --------------------------- */
/* nav                         */
/* --------------------------- */

div.nav {
	opacity: .8;
	height: 130px;
	margin-left: -330px;
	background-color: #111;
	padding-left: 330px;
}

ul.nav {
    list-style: none;  
    position: relative;  
    margin: 0;  
    padding: 0;
}  

	ul.nav li {  
		opacity: 1;
	    display: block;  
	    overflow: hidden;  
	    padding: 0px;  
		float: left;  
		width: 140px;  
	    height: 130px;  
	    margin: 0 5px 0 0;
		border-left: 6px solid #fff;
	}
	
		ul.nav li:hover {
			background-color: orange;
		}
			
		ul.nav li a {
			display: block;
			margin: 5px 10px;
			padding: 0;
			font-size: 1.5em;
			line-height: 1.2em;
/*			border: 1px solid red;*/
			height: inherit;
			width: 230px;
		}
		
			ul.nav li a:focus {
				color: #fff;
			}
				
			ul.nav li:hover a {
				color: #111;
			}
			
	ul.nav li a span.text {
		float: left;
		width: 120px;
		height: inherit;
/*		border: 1px solid green;*/
		font-weight: normal;
		display: block;
/*		font-family: 'Copperplate';*/
		font-family: Miso, arial, helvetica, sans-serif;
	}
	
		ul.nav li a span.text span.sub {
			margin-top: 15px;
			font-size: .6em;
			display: block;
			line-height: 1.4em;
			color: #666;
			font-family: helvetica, arial, sans-serif;
		}
		
			ul.nav li a:hover span.text span.sub {
				color: #fff;
			}
			
	ul.nav li a span.icon {
		font-family: helvetica, arial, sans-serif;
		float: right;
/*		border: 1px solid yellow;*/
		width: 100px;	
		height: inherit;
		text-align: right;
		font-size: 7em;
		line-height: .95em;
/*		font-size: 3em;*/
/*		padding-top: 40px;*/
	}

/* --------------------------- */
/* javascript warning          */
/* --------------------------- */
	
#javascript_warning {
	margin-left: -330px;
}
	
#javascript_warning li {
	height: 110px;
	padding: 20px 0 0 340px;
	color: #fff;
	background-color: #f00;
	font-size: 1.3em;
	text-transform: uppercase;
}

/* --------------------------- */
/* IE Warning                  */
/* --------------------------- */

#ie_warning {
	background-color: yellow;
	color: #000;
	opacity: .8;
	margin: 0 0 20px 0;
	display: none;
}

	#ie_warning h3 {
		color: #000;
		font-weight: bold;
		font-size: 1em;
		background-color: #ff9;
		padding: 10px;
		margin: 0;
	}
	
	#ie_warning p {
		padding: 10px;
		margin: 0;
		line-height: 1.7em;
	}

/* --------------------------- */
/* monitor links                */
/* --------------------------- */

/*#monitor_links {
	font-size: .7em;
}

	#monitor_links img, #monitor_instructions img {
		position: relative;
		top: 4px;
	}
	
	#monitor_links a.icon {
		border: 2px solid #444;
		padding: 0px 4px;
		float: left;
		background-color: orange;
		color: #fff;
		font-weight: bold;
		width: 30px;
		text-align: center;
		display: block;
		margin: 0 3px 0 0;
		
		-moz-border-radius: 11px;  
		-webkit-border-radius: 11px;  
		border-radius: 11px;
	}*/

#monitor_instructions {
	display: none;
	font-size: .7em;
	position: absolute;
	top: 130px;
	left: 20px;
	width: 600px;
	background-color: #fff;
	padding: 0 20px 20px 20px;
	border: 2px solid #111;
	
	-moz-border-radius: 11px;  
	-webkit-border-radius: 11px;  
	border-radius: 11px;
}

	#monitor_instructions a.icon {
		border: 2px solid #444;
		padding: 0px 4px;
		background-color: orange;
		color: #fff;
		font-weight: bold;
		width: 30px;
		text-align: center;
		margin: 0 3px 0 0;
		
		-moz-border-radius: 8px;  
		-webkit-border-radius: 8px;  
		border-radius: 8px;
	}
	
	#monitor_links .toggle_monitoring_instructions_link {
		color: #ddd;
	}

	#monitor_instructions ol {
		margin: 10px 0 10px 30px;
		font-size: inherit;
		list-style-type: decimal;
	}
	

/* --------------------------- */
/* Basic tags                  */
/* --------------------------- */

a {
	text-decoration: none;	
	color: orange;
}

	a:hover {
		background-color: transparent;
		color: orange;
	}
	
	a:visited {
		color: #FF5C00;
	}
		
a img {
	border: 0;
}
	
h1 {
/*	font-family: georgia;*/
	font-family: arial, helvetica, sans-serif;
	line-height: 1em;
	font-weight: normal;
	
	margin: 20px 0 0 0px;
	font-size: 1.1em;
	color: #eee;
	width: 170px;
}

h2 {
	color: #ddd;
	font-size: 1em;
}

h3 {
/*	font-family: Miso, arial, helvetica, sans-serif;*/
	font-weight: normal;
	font-size: .7em;
	color: #eee;
}

h4 {
/*	font-family: 'Copperplate', georgia, times, serif;*/
	font-family: Miso, arial, helvetica, sans-serif;
	line-height: 1em;
	
	font-size: 1.2em;
	color: #999;
	margin: 20px 0 0 -180px;
	width: 160px;
}

h6 {
	font-weight: normal;
	font-size: .6em;
}

/* --------------------------- */
/* ul                          */
/* --------------------------- */

ul {
	margin: 0 0 30px -180px;
}

	ul li {
		margin: 6px 0;
		background-color: #111;
		opacity: .8;
		padding: 0 0 0 175px;
	}
	
		ul li:hover {
			background-color: orange;
		}
		
		ul li:hover a {
			color: #fff;
		}
		
			ul li a {
				padding: 10px;
				display: block;
			}
			
			ul li a span {
				display: block;
			}

			ul li a .class_long_name, ul li a .assignment_title {
				font-size: 1.6em;
				letter-spacing: .05em;
				line-height: 1em;
/*				font-family: 'Copperplate', georgia, times, serif;*/
				font-family: Miso, arial, helvetica, sans-serif;
				color: orange;
				font-weight: normal;
				
				margin-left: 0;
				margin-top: 0;
				width: auto;
				position: relative;
			}
	
				ul li a:hover .class_long_name, ul li a:hover .assignment_title {
					color: #111;
					font-weight: bold;
				}
	
		ul li a .class_short_name, ul li a .assigned_date {
			font-weight: normal;
			font-size: .8em;
			color: #fff;
		}
		
			ul li a:hover .class_short_name, ul li a:hover .assigned_date {
				color: #444;
			}
	
		ul li a .class_meetings, ul li a .due_date, ul li a .class_credits, ul li a .assignment_points {
			font-size: .7em;
			color: #fff;
		}
		
			ul li a:hover .class_meetings, ul li a:hover .due_date, ul li a:hover .class_credits, ul li a:hover .assignment_points {
				color: #444;
			}
		
		ul li span.top_half {
			padding: 10px 10px 3px 10px;
			font-weight: bold;
			display: block;
			color: #aaa;
		}
		
			ul li span.top_half a {
				color: orange;
			}
			
				ul li:hover span.top_half {
					color: #111;
				}
				
				ul li:hover span.top_half a {
					color: #111;
				}
											
		ul li span.bottom_half {
			padding: 0px 10px 10px 10px;
			display: block;
		}
		
		ul li span.bottom_half a {
			display: inline;
		}
		
			ul li:hover span.bottom_half {
				color: #444;
			}
			
			ul li:hover span.bottom_half a {
				color: #fff;
			}
			
		ul li a span.bottom_half {
			color: #444;
		}
		
		ul li span.bottom_half p {
		}
		
ul.link_bar {
	width: 400px;
}

	ul.link_bar li {
		padding: 10px 0 10px 185px;
	}
	
	ul.link_bar li:hover a {
		color: #fff;
	}
		
p {
	margin: 20px 0;
}

hr {
	display: none;
}

/* --------------------------- */
/* tables */
/* --------------------------- */

table {
	background-color: transparent;
	width: 99%;
	margin: 5px 0 5px 0;
}

	table tr.alt {
		background-color: #ddd;
	}
	
	table tr.over {
		background-color: #ffa;
	}
	
	table tr th {
		font-size: .7em;
		font-weight: bold;
		vertical-align: middle;
		padding: 0 0 0 1px;
	}
	
	table tr td {
		border-right: 1px solid #eee;
		padding: 5px;
		vertical-align: middle;
	}
	
		table tr td:last-child {
			border: 0;
		}
	
		table tr td.nav a {
			float: none;
			text-align: center;
		}
	
	table tr.last_row {}
	
	table tr td.total {
		text-align: right;
	}
	
div.fancy {
	margin: 0 0 0 -180px;
	padding: 0 0 0 180px;
	background-color: #111;
	opacity: .8;
}

	div.fancy table {
		background-color: transparent;
	}
	
		div.fancy table tr {
			background-color: transparent;
		}
		
		div.fancy table tr.over {
			background-color: #000;
		}
	
		div.fancy table tr.red_bg {
			background-color: #f11;
		}
		
		div.fancy table tr th {
			background-color: transparent;
			font-size: .6em;
		}
		
		div.fancy table tr td {
			border: 0;
			border-top: 1px solid #444;
			color: #eee;
			padding: 15px 5px;
		}

/* --------------------------- */
/* forms */
/* --------------------------- */

form {
	margin: 5px 0 5px 0;
}

form ol {
	margin: 0 0 0 -120px;
	list-style-type: decimal;
	list-style-type: decimal-leading-zero;
	font-family: tahoma;
	color: #bbb;
	font-size: 2em;
}

	form ol li {
		opacity: .8;
		background-color: #111;
		margin: 0 0 1px 0;
		padding: 5px 10px 15px 120px;
	}
	
		form ol li .light {
			font-size: .3em;
			letter-spacing: 1px;
		}
		
		form ol li div.light {
			display: block;
		}
	
		form ol li label {
			font-size: .5em;
		}
		
		form ol li input[type="text"],form ol li input[type="password"], form ol li textarea {
			font-size: .5em;
			width: 500px;
			padding: 3px;
		}
		
			form ol li input[type="text"]:focus, form ol li input[type="password"]:focus, form ol li textarea:focus {
				background-color: orange;
			}
		
		form ol li select {
			border: 1px solid #444;
			font-size: .5em;
			padding: 3px;
		}
			
			form ol li select:focus {
				background-color: orange;
			}
			
		form ol li input[type="submit"] {
			display: none;
		}
						
		form ol li.submit_bar {
			margin: 0;
			padding: 0;
			background-color: transparent;
/*			border: 1px solid red;*/
			list-style-type: none;
			height: 40px;
		}
		
		form ol li.submit_bar a:focus {
			color: #fff;
		}
								
		form ol li div#submit_div {
			padding: 10px 20px 0px 0;
			margin: 0 0 0px 0;
			font-size: .5em;
			cursor: pointer;
			text-align: right;
			background-color: #111;
			width: 300px;
			float: left;
			height: 30px;
		}
		
			form ol li div#submit_div:hover {
				background-color: orange;
			}
			
				form ol li div#submit_div:hover a {
					color: #fff;
				}
				
		form ol li div#waiting_div {
			padding: 10px 0px 0px 0px;
			font-size: .4em;
			float: right;
			background-color: #111;
			width: 0px;
			height: 30px;
		}
		
			form ol li div#waiting_div span {
				display: none;
			}
				
		form ol li div.light {
			width: 545px;
		}
			
		form ol li div.fancy {
			margin-left: -120px;
			padding-left: 120px;
		}
		
		form ol li div.fancy table label {
			font-size: 1em;
		}
		
		form ol li div.fancy table input {
			font-size: 1em;
		}
			
		form ol li div.fancy table th {
			font-size: .3em;
			font-weight: normal;
		}
		
		form ol li div.fancy table td {
			font-size: .5em;
		}

/* --------------------------- */
/* content                      */
/* --------------------------- */
#content {
	padding-left: 180px;
}

	#content p {
		margin: 20px 10px 20px 6px;
	}

/* --------------------------- */
/* header                      */
/* --------------------------- */
#header {
	float: left;
	width: 145px;
	position: relative;
	top: 10px;
	z-index: 1;
}

/* --------------------------- */
/* footer                      */
/* --------------------------- */

#footer {
	color: #eee;
	background-color: #111;
	opacity: .8;
	padding: 20px 0px;
	width: 100%;
	color: #555;
}

	#footer .ad {
		float: right;
		margin: 10px 50px 0 0;
	}

	#footer #copyright {
		font-size: .6em;
		
		float: right;
		margin: 0 50px 0 0;
	}

	#footer ul#main {
		margin: 0 0 0 325px;
	}
	
	#footer ul {
		text-align: left;
		float: left;
		margin-left: 20px;
	}
	
		#footer ul li {
			margin: 0;
			padding: 0;
			background-color: transparent;
			font-size: .8em;			
			margin-left: 10px;
		}
		
			#footer ul li h3 {
				font-size: 1em;
				font-weight: bold;
				color: #ccc;
			}
		
			#footer ul li a {
				color: #aaa;
				display: block;
				padding: 0;
			}
			
			#footer ul li a:hover {
				color: orange;
			}
			
#site5_ad {
	display: block;
	padding: 3px 15px;
	font-size: 10px;
	text-align: right;
	line-height: 11px;
	background-color: #333;
}

	#site5_ad span {
		display: block;
	}

	#site5_ad a {
		color: #fff;
	}

	#site5_ad #powered_by {
		font-variant: small-caps;
		font-weight: bold;
		font-size: 9px;
		color: #eee;
	}
	
	#site5_ad #site5 {
		font-size: 14px;
		color: orange;
	}
	
	#site5_ad #web_hosting {
		font-variant: small-caps;
		font-size: 11px;
		color: #eee;
	}
	
/* --------------------------- */
/* back_bar */
/* --------------------------- */
#back_bar {
	width: 200px;
	position: absolute;
	top: 0;
	left: 120px;
	background-color: #111;
	opacity: .8;
	z-index: -1;
}			

/* --------------------------- */
/* top_bar */
/* --------------------------- */

#top_bar {
	height: 40px;
	padding: 0 0 0 10px;
	background-color: #111;
	opacity: .8;
	color: #eee;
	
	margin: 0 0 10px 0;
}
	
	#top_bar p {
		float: left;
	}
	
	#top_bar h1 {
		font-size: 1.5em;
		padding: 12px 0 0 0;
		margin: 0 30px 0 110px;
		font-family: Miso, arial, helvetica, sans-serif;
	}
	
		#top_bar h1 a {
			color: #eee;
		}
	
		#top_bar p a {
			font-size: 1em;
			color: #aaa;
			display: block;
/*			font-family: "Copperplate", georgia, times, serif;*/
			font-family: Miso, arial, helvetica, sans-serif;
			margin-top: 11px;
		}
		
/* --------------------------- */
/* search					   */
/* --------------------------- */
		
#search {
	float: right;
	padding: 0 10px 0 10px;
	background-color: #333;
	width: 350px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

#search span {
	color: #ccc;
}

#search form {
	opacity: 1;
	float: right;
}

	#search form input[type="text"] {
		opacity: 1;
		font-size: .8em;
		width: 300px;
		color: #777;
		border: 0;
		padding: 4px 10px;
	}

/* --------------------------- */
/* scaffold */
/* --------------------------- */
				
.fieldWithErrors {
	display: inline;
	background-color: transparent;
}

	.fieldWithErrors label {
		color: #fff;
	}
	
	.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select {
		border: 2px solid red;
	}

#errorExplanation {
	width: 100%;
	opacity: .8;
/*	border: 2px solid red;*/
	border: 0;
	padding: 7px;
	padding: 0 0 0 120px;
	margin: 0 0 20px -120px;
	background-color: #f11;
	color: #fff;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 120px;
	font-size: 12px;
	margin: 0 0 0 -120px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #fff;
	margin: 10px 0 0 0;
	padding: 0px;
}

#errorExplanation ul {
	margin: 0 0 0 20px;
	padding: 0 0 10px 0;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: circle;
	background-color: #f11;
	color: #fff;
	padding: 0 20px 0 0;
	border: 0;
}

/* --------------------------- */
/* syllabus */
/* --------------------------- */

#syllabus {
	margin: 2em 0;
}

#syllabus h1, #syllabus h2, #syllabus h3 {
	color: #444;
}

#syllabus h5 {
	font-size: .9em;
	font-weight: normal;
}

#syllabus h1 {
	font-size: 3em;
	width: 100%;
	margin: 0;
}

#syllabus h2 {
	margin: 0 0 20px 0;
}

#syllabus h3 {
	font-size: 1em;
	margin: 1.5em 0 .5em 0;
	letter-spacing: 0px;
}

#syllabus p {
	margin: 0 0 1em 0;
}

#syllabus ol {
	list-style: decimal;
	margin: 0 0 15px 20px;
}

#syllabus ul {
	list-style-type: disc;
	margin: 0 0 15px 20px;
}

#syllabus li {
	background-color: transparent;
	padding: 0;
	color: #111;
}

/* --------------------------- */
/* tutorials */
/* --------------------------- */

#tutorial_step {
	padding: 0 20px 0 0;
}

	#tutorial_step h1 {
		color: #444;
		font-size: 1.5em;
		width: 100%;
	}
	
	#tutorial_step h2 {
		color: #444;
		font-size: 1.5em;
	}
	
	#tutorial_step h3 {
		color: #444;
		margin: 20px 0 5px 0;
		font-size: 1em;
	}

#tutorial_step img {
	border: 1px solid #777;
	margin: 0 2em 1em 0;
	padding: 1em;
	float: left;
}

/* --------------------------- */
/* assignments                 */
/* --------------------------- */
#assignment {
	padding: 20px 20px 0 0;
}

#assignment p {
	margin-left: 0;
}

#assignment h1 {
	color: #444;
	font-size: 1em;
	margin: 20px 0 10px 0;
}

#assignment h2 {
	color: #444;
	font-size: 2em;
}

#assignment ul {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: disc;	
}

	#assignment li {
		background-color: transparent;
		padding: 0;
		color: #111;
	}

#instructions {
	
}

	#instructions ol {
		list-style-type: decimal;
		margin-left: 30px;
	}

	#instructions ul {
		list-style-type: disc;
		margin-left: 30px;
	}
	
		#instructions ul li {
			background-color: transparent;
			margin: 0;
			padding: 0;
		}
	
#assignment_info {
	color: #eee;
}

/* --------------------------- */
/* crud links                  */
/* --------------------------- */
.delete_link {
	color: red;
}

.edit_link {
	color: #00f;
}

.show_link {
	color: #0f0;
}

/* --------------------------- */
/* search listings             */
/* --------------------------- */

ul.search_listings {
	margin: 0;
	padding: 0;
}

ul.search_listings li {
	padding: 0;
	background-color: transparent;
}

	ul.search_listings li a {
		display: inline;
		font-weight: bold;
	}
	
		ul.search_listings li a:hover {
			color: orange;
		}
		
		ul.search_listings li:hover a {
			color: orange;
		}

/* --------------------------- */
/* how tos                     */
/* --------------------------- */
.how_to span a {
	display: inline;
}

/* --------------------------- */
/* materials                   */
/* --------------------------- */
div.materials {
	background-color: #111;
	opacity: .8;
	margin: 10px 0 20px -180px;
	padding: 1em 1em 1em 185px;
}

	div.materials div.material {
		display: block;
		float: left;
		border: 1px solid #666;
		width: 200px;
		height: 75px;
		font-size: .8em;
		margin: 10px;
		padding: 10px 15px;
	}
	
		div.materials div.material a.admin_link {
			display: block;
			float: right;
			padding: 0 0 0 4px;
		}
