<div class="block <%= double_width_if_main(defined? main) %>">
xxx@xxx.xxx %></p>
	<h3><%= link_to 'Sections', xxx@xxx.xxx %></h3>
	
	<ul class="actions">
		<li><%= link_to 'New Section', xxx@xxx.xxx %></li>
	</ul>
</div>
	
