<div class="block <%= double_width_if_main(defined? main) %> semesters header">
	<header>
		<%= link_to admin_semesters_path do %>
			<p><%= pluralize Semester.count, 'semester' %></p>
			<h3>Semesters</h3>
		<% end %>
	</header>

	<ul>
		<li class="icon"><%= link_to new_admin_semester_path, {class: "icon icon-plus", title: "New"} do %><span class="text_label">New Semester</span><% end %></li>
	</ul>
</div>
