<div class="block grade_requests header <%= double_width_if_main(defined? main) %>">
	<header>
xxx@xxx.xxx %></p>
		<h3><%= link_to "Request Your Grades" , xxx@xxx.xxx @section) %></h3>
	</header>
</div>
