<div class="block grade_requests header <%= double_width_if_main(defined? main) %>">
	<header>
		<%= link_to new_semester_section_grade_request_path(@semester, @section) do %>
			<p>Request Your Grades</p>
			<h3>Request</h3>
		<% end %>
	</header>
</div>
