<%= render partial: 'semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'sections/section', locals: {section: @section} %>

<div class="block grade_requests header block--width2">
	<header>
		<h4>Request your grades</h4>
	</header>
</div>

<%= render 'form' %>
