<div class="block <%= double_width_if_main(defined? main) %> general_contacts header">
	<header>
		<p><%= pluralize GeneralContact.count, 'contact' %></p>
		<h3><%= link_to 'Contacts', admin_general_contacts_path %></h3>
	</header>
	
	<ul class="actions">
		<li><%= link_to 'Clear All Contacts', destroy_all_admin_general_contacts_path, confirm: 'Are you sure?', method: :delete %></li>
	</ul>
</div>
