<% content_for :header do %>
	<h1>Contact from xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><% link_to admin_general_contacts_path do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><% link_to xxx@xxx.xxx do %> <%= render :partial => "shared/edit_link" %> <% end %></li>
	</ul>
</div>

<p>
  <b>Return email:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Subject:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Body:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Attachment:</b>
  xxx@xxx.xxx %>
</p>


