<div class="block waiters header <%= double_width_if_main(defined? main) %>">
	<header>
		<%= link_to new_course_waiter_path(@course) do %>
			<p><%= @course.title %></p>
			<h4>Get Notified</h4>
		<% end %>
	</header>
	
	<p>An email will be sent to you when the course is being offered</p>
</div>
