<%= content_for :header do %>
	<h1>Waiting for</h1>
xxx@xxx.xxx %></h2>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= xxx@xxx.xxx do %> <%= render :partial => "shared/back_link" %> <% end %></li>
	</ul>
</div>

<%= render 'form' %>
