<%= content_for :header do %>
	<h1>Waiting list</h1>
<% end %>



<section>
	<nav>
		<h1>Navigation</h1>
		<%= link_to xxx@xxx.xxx :class => "icon back" %>
	</nav>
	
	<header>
xxx@xxx.xxx %></p>
		<h1>Get Notified</h1>
	</header>

	<%= render 'form' %>
</section>
