<%= render partial: 'courses/course', locals: xxx@xxx.xxx %>

<div class="block">
	<h2>Waiting list</h2>
	<p>Please leave your email address to be notified the next time this class is available</p>
</div>

<div class="block">
	<header>
xxx@xxx.xxx %></p>
		<h3>Get Notified</h3>
	</header>
</div>

<%= render 'form' %>
