<div class="block <%= double_width_if_main(defined? main) %> homework_return_requests header">
	<header>
		<%= link_to admin_homework_return_requests_path do %>
			<p><%= pluralize HomeworkReturnRequest.count, 'homework return request' %></p>
			<h3>ReturnRequests</h3>
		<% end %>
	</header>
	
	<ul class="actions">
		<li><%= link_to 'Clear All Homework Return Requests', destroy_all_admin_homework_return_requests_path, data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></li>
	</ul>
</div>
