<%= content_for :header do %>
	<h1>Editing Work</h1>
<% end %>

<nav>
	<%= link_to 'Back', xxx@xxx.xxx :class => "icon back"%>
</nav>

<header>
xxx@xxx.xxx %></p>
xxx@xxx.xxx %></h1>
</header>

<%= render :partial => 'form', :locals => {:submit_name => 'Update'} %>

