<p>
  <b>Work:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Requirement:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Points:</b>
  xxx@xxx.xxx %>
</p>


<%= link_to 'Edit', xxx@xxx.xxx %> |
<%= link_to 'Back', admin_semester_section_assignment_work_awarded_points_path %>
