<div class="block <%= double_width_if_main(defined? main) %> labs header">
	<header><h4><%= link_to "Labs", xxx@xxx.xxx %></h4></header>
	
	<ul class="actions">
		<li><%= link_to 'New lab', xxx@xxx.xxx ) %></li>
	</ul>
</div>
