<% if course.how_tos.size > 0 %>
	<div class="block steps">
		<header>
			<h4>Tutorials</h4>
		</header>
		<ul>
			<% course.how_tos.each do |howto| %>
        <% xxx@xxx.xxx %>
				  <li><%= link_to howto.title, course_how_to_step_path(course, howto, howto.steps.first, xxx@xxx.xxx %></li>
        <% else %>
          <li><%= link_to howto.title, course_how_to_step_path(course, howto, howto.steps.first) %></li>
        <% end %>
			<% end %>
		</ul>
	</div>
<% end %>
