<div class="block <%= double_width_if_main(defined? main) %> divisions header">
	<header>
		<%= link_to admin_divisions_path do %>
			<p><%= pluralize Division.count, 'school' %></p>
			<h3>Schools/Divisions</h3>
		<% end %>
	</header>
	
	<ul class="actions">
		<li class="icon"><%= link_to new_admin_division_path, {class: "icon icon-plus", title: "New"} do %><span class="text_label">Create a New Division/School</span><% end %></li>
	</ul>
</div>
