<%= content_for :header do %>
	<h1>Divisions</h1>
<% end %>

<section>
	<nav>
		<%= link_to "Back", admin_divisions_path, :class => "icon back" %>
	</nav>

	<header>
		<p>Associate Dean: xxx@xxx.xxx %></p>
xxx@xxx.xxx %></h1>
	</header>

	<%= render :partial => "form", :locals => {:submit_name => "Create"} %>
</section>
