<%= content_for :header do %>
	<h1>Examples</h1>
	Echo
<% end %>

<nav>
	<h1>Navigation</h1>
	<ul>
		<li><%= link_to '/' do %> <%= render :partial => "shared/back_link" %> <% end %></li>
	</ul>
</nav>

<section>
	<h1>All Values Received</h1>
	<p><%= debug params %></p>
</section>
