<div class="block <%= double_width_if_main(defined? main) %> examples header">
	<header>
		<p><%= xxx@xxx.xxx "Example" %></p>
		<h5><%= link_to "Examples", xxx@xxx.xxx @section ) %></h5>
	</header>
	
	<ul class="actions">
		<li><%= link_to 'New Example', xxx@xxx.xxx @section ) %></li>
	</ul>
</div>
