<div class="block <%= double_width_if_main(defined? main) %> examples header">
	<header>
		<%= link_to xxx@xxx.xxx @section ) do %>
			<p><%= xxx@xxx.xxx "Example" %></p>
			<h5>Examples</h5>
		<% end %>
	</header>
	
	<ul class="actions">
		<li class="icon"><%= link_to xxx@xxx.xxx @section ), {class: "icon icon-plus", title: "New"} do %><span class="text_label">New Example</span><% end %></li>
	</ul>
</div>
