<div class="block <%= double_width_if_main(defined? main) %> examples header">
	<header>
		<%= link_to xxx@xxx.xxx @section ) do %>
			<p><%= xxx@xxx.xxx "Example" %></p>
			<h5>Examples</h5>
		<% end %>
	</header>
	
	<ul class="actions">
		<li><%= link_to 'New Example', xxx@xxx.xxx @section ) %></li>
	</ul>
</div>
