<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<nav>
		<%= link_to 'Back', xxx@xxx.xxx @section ), :class => "icon back"%>
</nav>

<header>
xxx@xxx.xxx %></p>
	<h1>New Example for xxx@xxx.xxx %></h1>
</header>

<%= render :partial => 'form', :locals => {:submit_name => 'Create'} %>
