<div class="block <%= double_width_if_main(defined? main) %>">
	<h4><%= link_to "Policies", xxx@xxx.xxx %></h4>
	
	<ul>
		<li><%= link_to "Create a new syllabus part", xxx@xxx.xxx %></li>
	</ul>
</div>
