	<div class="block general_contacts">
		<h3>
			Section Announcement for xxx@xxx.xxx %>
		</h3>
	</div>

	<div class="block general_contacts">
		<header>
			<p><strong>To:</strong> All Class Members of Section <%= @section.call_number %> of xxx@xxx.xxx %></p>
			<p><strong>Subject:</strong> Section Announcement</p>
		</header>

		<%= xxx@xxx.xxx %>

		<footer>
			<%= @section.instructor.first_name %> xxx@xxx.xxx %><br/>
xxx@xxx.xxx %>
		</footer>
	</div>
