<% assignment = @work.assignment %>
<% section = assignment.section %>
<% semester = section.semester %>

<div class="block works">
	<header>
		<h3>
			<%= section.course.short_name %>
		</h3>
	</header>
</div>

<div class="block works">
	<header>
		<p>Your Homework has Already Been Submitted</p>
		<h3><%= assignment.title %></h3>
	</header>

	<p>
		An attempt was just made to upload a new solution for <strong><%= assignment.title %></strong> for you.  If you didn't do this, don't worry, it wasn't
		accepted.  If you are trying to replace your previous submission with a new one, you must first
		<%= link_to 'withdraw your previous submission', withdraw_semester_section_assignment_works_url(semester, section, assignment,
				code: @work.withdrawal_code.to_s,
				host: APP_CONFIG['host']) %>.
	</p>
</div>
