/*
*= require_self
*  require jquery-ui
*= require jquery-ui/datepicker
*= require simple-line-icons
*= require_directory .
*  require_tree
*/

a {
	text-decoration: none;
}


//GRID

#page {
	width: 100%;
	margin: 5px auto;
}

/* clear fix */
#page:after {
  content: '';
  display: block;
  clear: both;
}

ul:after {
  content: '';
  display: block;
  clear: both;
}

.block, .grid-sizer {
  width: 99%;
	padding: 20px 0;
}

.block--width2, .chart { width: 99%; }


//BLOCK STYLES

.block {
  float: left;
  background-color: #ccc;
	transition: width 1s;
	overflow: hidden;

	h1 {
		font-size: 4.5em;
	}

	h2 {
		font-size: 6.5em;
	}

	h3 {
		font-size: 6em;
	}

	h4 {
		font-size: 5.5em;
	}

	h5 {
		font-size: 5.0em;
	}

	h6 {
		font-size: 4.9em;
	}

	p, table, footer, div.pagination {
		padding: 0 20px;
		margin: 0;
	}

	p {
		padding: 10px 20px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Helvetica Narrow", "Arial Narrow", "Helivetica", "Arial", sans-serif;

		letter-spacing: -9px;
		line-height: 1.2em;
		text-transform: uppercase;
		padding: 20px;
		margin-bottom: 2px;
	} //end headers

	header {
		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
			margin: 0;
			padding: 0;
			position: relative;

			top: -.27em;
			left: -.07em;
			height: .661em;
		}

		p {
			margin: 0;
			padding: 0 0 0 20px;

			font-size: 1.5em;

			position: relative;
			top: 30px;
			z-index: 1;
		}

		p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
			top: -.57em;
			height: .37em;
		}
	} //end header

	footer {
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 10px 0 10px 20px;

		li {
			margin: 3px 7px 3px 0;
			float: right;

			&.icon {
				float: left;
			}

			a {
				display: block;
				border: 1px solid #eee;
				padding: 10px;

				&.icon {
					.text_label { display: none; }

					font-size: 1.4em;
					padding: 15px;
					border: 0;
				}
			}
		}
	}

	table {
		width: 100%;
		margin-top: 20px;

		tr {
			&.last_row {
				font-weight: bold;
			}

			th {
				display: none;
			}

			td {
				padding: 5px 20px;
				border-bottom: 1px solid #999;
				&.destroy {
				}

				&.edit {
				}
			}
		}
	}

	.jqueryui table {
		tr {
			td {
				padding: 2px;
			}
		}
	}

	form {
		label {
			font-weight: bold;
		}

		div.details {
			p {
				padding: 10px 20px 10px 0;
			}
		}

		textarea {
			min-height: 200px;
			width: 80%;
			padding: 10px;

			border: 0;
		}

		input[type=text], input[type=email], input[type=password], input[type=number] {
			width: 80%;
			padding: 10px;
		}

		input[type=submit], input[type=clear], input[type=button], .button {
			width: 82%;
			padding: 10px;
			border: 0;
			font-size: 1.1em;
			text-transform: uppercase;
		}
	}

	.button {
		list-style: none;
	}

	.how_to_step_image {
		padding: 20px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}
} // end .block

#enrollments_chart {
	margin: 0 20px;
}

.in_progress_indicator {
	display: block;
	width: 100%;

	&.green {
		background-color: #090;
	}

	&.red {
		background-color: #900;
	}

	&.blue {
		background-color: #009;
	}
}

#duedateepicker {
		margin-bottom: 50px;
}

.block.flash {
	font-weight: bold;
}

#assignment_instructions {
	ul {
		float: none;
		li {
			float: none;
			padding: 10px;
		}
	}
}


//	ABOVE 667 GO TO SIDE BY SIDE 2 BLOCK LAYOUT
@media screen and (min-width: 667px) {
		#page {
			width: 95%;
			margin: 5px auto;
		}

		/* ---- .block ---- */

		.block, .grid-sizer {
		  width: 49%;
			padding: 20px 0;
		}

		.block--width2 { width: 98.5%; }
}


//ABVOE 1024 GO TO SIDE BY SIDE 3 BLOCK LAYOUT
@media screen and (min-width: 1024px) {
	/* ---- grid ---- */

	#page {
		width: 90%;
		margin: 10px auto;
	}


	/* ---- .block ---- */

	.block, .grid-sizer {
	  width: 33%;
		padding: 20px 0;
	}

	.block--width2, .chart { width: 66.5%; }
}

//ABVOE 1366 GO TO SIDE BY SIDE 3 BLOCK LAYOUT
@media screen and (min-width: 1366px) {
	/* ---- grid ---- */

	#page {
		width: 90%;
		margin: 10px auto;
	}


	/* ---- .block ---- */

	.block, .grid-sizer {
	  width: 24%;
		padding: 20px 0;
	}

	.block--width2, .chart { width: 48.3%; }
}
