/*
*= require_self
*= require jquery-ui
*= require_tree
*/

a {
	text-decoration: none;
}

/* ---- grid ---- */

#page {
	width: 90%;
	margin: 10px auto;
}

/* clear fix */
#page:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .block ---- */

.block, .grid-sizer {
  width: 33%;
	padding: 20px 0;
}

.block--width2, .chart { width: 66.3%; }

.block {
  float: left;
  background-color: #ccc;
	margin: 0 1px;
	transition: width 1s;
}

.block {
	h1, h2, h3, h4, h5, h6, p, nav, table, section, footer {
		padding: 0 20px;
		margin: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.0em;	
		text-transform: uppercase;
		font-size: 2em;
		padding: 20px;
	
		& + p {
			margin-top: 20px;
		}	
	}
	
	p:first-child {
		padding-top: 20px;
		margin-bottom: -20px;
	}
	
	footer {
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	nav ul {
		margin: 20px 0 0 0;
		padding: 0;
		
		li {
			border-width: 1px 0;
			border-style: solid;
			margin-top: -1px;
			
			a {
				display: block;
				padding: 10px 0;
			}
		}
	}
	
	table {
		width: 90%;
	}
	
	textarea {
		min-height: 200px;
		width: 90%;
	
		border: 0;
	}
	
	&.how_to_step_image img {
		max-width: 100%;
	}
} // end .block



.block.flash {
	font-weight: bold;
}

	.block.flash.error {
		background-color: #900;
		color: #fff;
	}

	.block.flash.notice {
		background-color: #090;
		color: #fff;
	}






/* ---- other ---- */

@media screen and (max-width: 800px) {
	#page {
		width: 95%;
		margin: 5px auto;
	}

	/* ---- .block ---- */

	.block, .grid-sizer {
	  width: 49%;
		padding: 20px 0;
	}

	.block--width2 { width: 98%; }
}

@media screen and (max-width: 480px) {
	#page {
		width: 100%;
		margin: 5px auto;
	}

	/* ---- .block ---- */

	.block,
	.grid-sizer {
	  width: 99%;
		padding: 20px 0;
	}

	.block--width2 { width: 99%; }
}
