@import 'material_colors';

$page_background: $blue_grey_900;

@mixin block_style($background_color, $font_color) {
	//for the non-header version
	background-color: $background_color;
	color: $font_color;

	h1, h2, h3, h4, h5, h6 {
		color: $background_color;
	}

	p {
		color: $font_color;
	}

	header, footer {
		background-color: lighten($background_color, 7%);

		a {
			color: $background_color;
		}
	} //end h's

	#assignment_instructions {
		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 -20px 0;
			padding-bottom: 0;
			padding-left: 15px;
			color: lighten($background_color, 10%);
		}
	}

	input[type=submit], input[type=clear], input[type=button] {
		background-color: lighten($background_color, 20%);
		color: $font_color;
	}

	ul {
		li {
			background-color: lighten($background_color, 10%);;

			a {
					color: darken($background_color,20%);
					border-color: darken($background_color,1%);
			}
		}
	}

	table tr td {
		border-color: darken($background_color, 10%);

		a {
			color: lighten($font_color, 10%);
		}
	}
} //end block_style



body {
	background-color: $page_background;
}


//MAIN, ADMIN
.grid-sizer, .admin_header {
	@include block_style($purple_600, $amber_50);
}

	//STUDENTS
	.students {
		@include block_style($red_600, $amber_50);
	}

	//DIVISIONS
	.divisions {
		@include block_style($teal_600, $amber_50);
	}

	//INSTRUCTORS
	.instructors {
		@include block_style($deep_purple_800, $amber_50);
	}

	//GENERAL CONTACTS
	.general_contact, .general_contacts {
		@include block_style($yellow_700, $grey_700);
	}

	//SEMESTERS
	.semesters {
		@include block_style($green_500, $amber_50);

		&.not_current {
			opacity: .5;
		}
	}

		//SECTIONS
		.sections {
			@include block_style($light_green_800, $amber_50);

			&.not_in_session {
				opacity: .5;
			}
		}

			//ENROLLMENTS
			.enrollments {
				@include block_style($deep_purple_800, $amber_50);
			}

			//MEETINGS
			.meetings {
				@include block_style($indigo_800, $grey_200);

				&.attendance_taken {
					@include block_style($indigo_100, $amber_50);
					opacity: .5;
				}
			}

				//ATTENDANCES
				.attendances {
					@include block_style($indigo_400, $amber_50);

					&.attendance_taken {
						@include block_style($indigo_50, $grey_400);
						opacity: .5;
					}
				}

			//EXAMPLES
			.examples {
				@include block_style($lime_600, $grey_700);
			}

			//GRADE REQUESTS
			.grade_requests {
				@include block_style($amber_800, $amber_50);
			}

			//ASSIGNMENTS
			.assignments {
				@include block_style($blue_grey_500, $amber_50);


				&.overdue, &.complete {
					@include block_style($blue_grey_200, #fff);
					opacity: .5;
				}
 			}

				//ASSIGNMENT TWEETS
				.assignment_tweets {
					@include block_style($light_blue_100, $grey_700);
				}

				//WORKS
				.works {
					@include block_style($blue_400, $grey_200);

					&.graded {
						@include block_style($blue_400, $grey_400);
						opacity: .5;
					}
				}

				//HOMEWORK RETURN REQUESTS
				.homework_return_requests {
					@include block_style($cyan_500, $grey_700);
				}

	//COURSES
	.courses {
		@include block_style($brown_500, $amber_50);
	}

		//WAITERS
		.waiters {
			@include block_style($pink_800, $amber_50);
		}

		//MATERIALS
		.materials {
			@include block_style($deep_orange_500, $amber_50);
		}

		//BOOKS
		.books {
			@include block_style($grey_500, $amber_50);
		}

		//WEBSITES
		.websites {
			@include block_style($grey_500, $amber_50);
		}

		//OBJECTIVES
		.objectives {
			@include block_style($blue_grey_500, $amber_50);
		}

		//POLICIES AND SYLLABUS PARTS
		.policies, .syllabus_parts {
			@include block_style($deep_orange_500, $amber_50);
		}

		//TUTORIALS
		.tutorials {
			@include block_style($blue_100, $grey_700);
		}

			//HOW TOS
			.how_tos {
				@include block_style($blue_400, $grey_700);
			}

				//STEPS
				.steps {
					@include block_style($blue_grey_500, $amber_50);
				}

		//LABS
		.labs {
			@include block_style($orange_500, $amber_50);
		}

			//REQUIREMENTS
			.requirements {
				@include block_style($orange_300, $amber_50);
			}

			//EXTRAS
			.extras {
				@include block_style($orange_900, $amber_50);
			}

.block.flash.error {
	@include block_style(#900, #fff);
}

.block.flash.notice {
	@include block_style(#090, #fff);
}
