@import 'colors';
@import 'mixins';

// ---------------------------------------------------------
// ipad
// ---------------------------------------------------------

@media all and (max-width: 1024px) {
	$page-width: 100%;
	$outer-width: 95%;
	$inner-width: 78.947368421053%;
	
	// --------------------------------------------------------
	// main top of page headers
	// --------------------------------------------------------

	// ----------------------------
	// general style for all main headers (top of every page)
	// ----------------------------

	header {
		width: $outer-width;

		// ----------------------------
		// Page title (top, white)
		// ----------------------------

		#title {
			a {
				span {
				}
			}
		} //end #title


		// -----------------------------
		// sub header under "ingenio.us"
		// -----------------------------

		h1 {
		}
	} // end header


	// -----------------------
	// changes for homepage main header
	// -----------------------

	body#sections_index.student {
		
		// ----------------------------
		// header
		// ----------------------------
		header {


			// ----------------------------
			// Page title (top, white)
			// ----------------------------
			#title {
				a {
				}
			} //end #title


			// -----------------------------
			// small homepage semester header
			// -----------------------------
			h1 {
			}
		} // end header
	} //end body#sections_index.student
	
	
	// ----------------------------
	// Page and Main Containers
	// ----------------------------

	#page {

		#outer_container {

			width: $outer-width;

			#inner_container {
			} // end inner_container
		} // end outer_container

		#page_content {
			width: $page-width + 26.5%;

			// ---------------------------
			// big green page banner (large tab)
			// ---------------------------
			header {

				// --------------------------------
				// small top text on banner
				// --------------------------------
				p {
				}


				// ---------------------------------
				// main banner text
				// ---------------------------------
				h1 {
				} // end h1
			} // end header
		} // end #page_content



		// ----------------------------
		// footer (large tab)
		// ----------------------------
		footer {
			width: $outer-width;

			div.content {
				div#copyright {
					float: none;
					text-align: left;
				}

				ul {
					float: none;
					
					li {
						float: left;

						a {
							line-height: 30px;
							padding: 0 10px 0 0;
						}
					} // end li
				} // end ul
			} // end div.content
		} // end footer


		// -----------------------------
		// details and resources sections (right aligned not very wide)
		// -----------------------------

		div#resources {
			h1 {
			}

			header h1 {
			}
		}
	} // end page	
} //end ipad portrait
