// ----------------------------
// clearfix
// ----------------------------

@mixin clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	
	&:after {
	    clear: both;
	}
}


// ----------------------------
// slitted main containers
// ----------------------------

@mixin slitted {
	position: relative;
	margin: 0 auto;		
	background-image: url(left_slit.png), url(right_slit.png);
	background-position: top left, top right;
	padding: 0 8px 0 8px;
	background-size: 27px 100%;
	background-repeat: no-repeat;
}


// -------------------------------------
// general common styles for giant green tabs (headers and footer)
// -------------------------------------

@mixin giant_tab_style {
xxx@xxx.xxx grad( #82A169, #57784B );
	font-size: .75em;
	color: #fff;
	font-family: 'HelveticaNeue-UltraLight', helvetica, arial, sans-serif;
	letter-spacing: 1px;
}

@mixin paper_effect {
	position: relative;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	
	&:before, &:after {
		position: absolute;
		width: 40%;
		height: 10px;
		content: ' ';
		left: 12px;
		bottom: 12px;
		background: transparent;
		-webkit-transform: skew(-5deg) rotate(-5deg);
		-moz-transform: skew(-5deg) rotate(-5deg);
		-ms-transform: skew(-5deg) rotate(-5deg);
		-o-transform: skew(-5deg) rotate(-5deg);
		transform: skew(-5deg) rotate(-5deg);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	
	&:after {
		left: auto;
		right: 12px;
		-webkit-transform: skew(5deg) rotate(5deg);
		-moz-transform: skew(5deg) rotate(5deg);
		-ms-transform: skew(5deg) rotate(5deg);
		-o-transform: skew(5deg) rotate(5deg);
		transform: skew(5deg) rotate(5deg);
	}
}


// -------------------------------------
// shadows for tabs
// -------------------------------------

@mixin left_tab_shadow {
	box-shadow: 3px 1px 5px 1px #444, inset 13px 0px 10px -8px #555;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}


@mixin right_tab_shadow {
	box-shadow: -3px 1px 5px 1px #444, inset -13px 0px 10px -8px #555;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}


// ---------------------------------
// borders (for debugging)
// ---------------------------------

@mixin debug_border {
//	border: 1px solid yellow;
}


// ---------------------------------
// positioning related
// ---------------------------------

@mixin left_tab {
xxx@xxx.xxx left_tab_shadow;
	float: left;
	text-align: left;
}

@mixin right_tab {
xxx@xxx.xxx right_tab_shadow;
	float: right;
	text-align: right;
}

@mixin centered_tab {
xxx@xxx.xxx paper_effect;
	width: 60%;
	margin: 0 auto 20px auto;
}

@mixin outset_left {
	margin-left: -13.4%; // (-80.4px / 600px)
}

@mixin outset_right {
	margin-right: -13.4%; // (-80.4px / 600px)
}

@mixin inset_left {
	margin-left: 14.2%; // (-80.4px / 600px)
}

@mixin inset_right {
	margin-right: -13.4%; // (-80.4px / 600px)
}

@mixin inset {
	$amount: 10.5%;
	margin-left: $amount;
	margin-right: -$amount;
	width: 100% - $amount - $amount;
}

@mixin full_width {
	width: 126.5%;
	margin-left: -13.266666666667%; // (79px / 600px)
}

@mixin alternate_sides {
	//odd
	&:nth-child( 2n + 1 ) {
		float: left;
xxx@xxx.xxx left_tab_shadow;
	}
								
	//even
	&:nth-child( 2n ) {
		float: right;
		text-align: right;
xxx@xxx.xxx right_tab_shadow;
	}
}


// ---------------------------------
// font families
// ---------------------------------

@mixin helvetica_family {
	font-family: helvetica, arial, sans-serif;
}

@mixin georgia_family {
	font-family: georgia, serif;
}

@mixin neue_family {
	font-family: 'HelveticaNeue-UltraLight', helvetica, arial, sans-serif;
}

@mixin walkway_family {
	font-family: 'WalkwaySemiBoldRegular', helvetica, arial, sans-serif;
}

@mixin text {
	line-height: 25px;
	
	h1 {
		font-size: 2em;
	}
	
	ul {
		list-style: disc;
		margin: 0 0 20px 20px;
	}
	
	ol {
		list-style: decimal;
		margin: 0 0 20px 20px;
	}
}


// ---------------------------------
// tab sizes
// ---------------------------------

@mixin short_tab {
	width: 100%;
	margin-bottom: 20px;
}

@mixin medium_tab {
	width: 49%;
	margin-bottom: 20px;
}

@mixin wide_tab {
	width: 60%;
	margin-bottom: 20px;
}


// ------------------------------------------------------------------
// tab types
// ------------------------------------------------------------------

// ---------------------------------
// left capped
// ---------------------------------

@mixin left_cap {
	margin-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
}


// ---------------------------------
// right capped
// ---------------------------------

@mixin right_cap {
	margin-right: 20px;
	border-right-width: 1px;
	border-right-style: solid;
}


// ---------------------------------
// 3 part
// ---------------------------------

@mixin three_part {
	a {
xxx@xxx.xxx neue_family;
		color: #fff;
		display: block;

		div {
			font-size: .7em;
			letter-spacing: 2px;
			border-bottom-width: 1px;
			border-bottom-style: inset;
			padding: 5px 20px;
		}
		
		h2 {
			font-size: 1em;
			margin: 5px 0 3px 0;
			padding: 0px 20px;
		}
		
		p {
			font-size: .6em;
			margin: 0;
			font-style: italic;
			padding: 0px 20px 7px 20px;
		}
	} // end a
}


// ---------------------------------
// 1 part
// ---------------------------------

@mixin one_part {
	h2 {
		font-size: 1em;
		font-weight: normal;
		
		a {
			color: #fff;
			display: block;
			padding: 10px 20px;
		}
	}
	
	a {
		color: #fff;
		display: block;
		
		h2 {
			padding: 10px 20px;
			font-size: 1em;
			font-weight: normal;
xxx@xxx.xxx neue_family;
		}
	}
}


// ---------------------------------
// paper
// ---------------------------------

@mixin paper {
xxx@xxx.xxx paper_grad;
	padding: 30px;
}


// ---------------------------------
// downset
// ---------------------------------

@mixin downset {
	position: relative;
	top: 40px;
	margin-top: -40px;
}


// ----------------------------
// blue headers
// ----------------------------

@mixin blue_header {
xxx@xxx.xxx grad( #4F76B0, #354E73 );
	
	h1 {
		display: block;
		
xxx@xxx.xxx helvetica_family;
		color: #fff;
		font-size: 1.3em;
		font-style: italic;
		font-weight: normal;
		letter-spacing: 8px;
		border-color: darken(#354E73, 10%);
		margin: 0 20px 0 0;
		padding: 18px 20px;
	}
}
