body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  &:visited {
    color: #444;
  }
  &:hover {
    color: #ccc;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {	
	input[type=text], input[type=email], textarea {
		border: 2px solid #F00;
	}
}

#error_explanation {
  max-width: 100%;
  padding: 7px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #900;
	color: #fff;

  h2 {
		letter-spacing: inherit;
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 2em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
	
  ul {
			padding: 0 10px 0 25px;
		
		li {
			float: none;
			background-color: inherit;
	    font-size: 12px;
	    list-style: square;
	  }	
  }	
}
