@import 'colors';
@import 'mixins';

//$page-width: 960px;
$page-width: 100%; // 960px

//$outer-width: 760px; 
$outer-width: 79.166666666667%; // (760px / 960px)

//$inner-width: 600px;
$inner-width: 78.947368421053%; // (600px / 760px)


// -----------------------
// General Styles
// -----------------------
body {
xxx@xxx.xxx helvetica_family;
	background-color: #669966;
	
	background: #669966; /* Old browsers */
	background: -moz-linear-gradient(left, #669966 0%, #669966 25%, #889883 50%, #669966 75%, #669966 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#669966), color-stop(25%,#669966), color-stop(50%,#889883), color-stop(75%,#669966), color-stop(100%,#669966)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #669966 0%,#669966 25%,#889883 50%,#669966 75%,#669966 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #669966 0%,#669966 25%,#889883 50%,#669966 75%,#669966 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #669966 0%,#669966 25%,#889883 50%,#669966 75%,#669966 100%); /* IE10+ */
	background: linear-gradient(left, #669966 0%,#669966 25%,#889883 50%,#669966 75%,#669966 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669966', endColorstr='#669966',GradientType=1 ); /* IE6-9 */
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

a {
	text-decoration: none;
}

.light {
	font-size: .7em;
	color: #eee;
	font-weight: normal;
}

#ie_warning {
	display: none;
}

#javascript_warning, #ie_warning {
xxx@xxx.xxx grad( $red_light, $red_dark );
	box-shadow: 0px 2px 2px #555, inset 10px 0px 20px -8px #555, inset -10px 0px 20px -8px #555;
	margin-bottom: 30px;
	padding: 10px 20px;
	color: #fff;
	text-align: center;
}

#twitter_stream {
	margin: 30px;
}

// ----------------------------
// flash messages
// ----------------------------

p.flash {
xxx@xxx.xxx left_tab;
	color: #fff;
xxx@xxx.xxx wide_tab;
	padding: 10px 20px;
	
	&.notice {
xxx@xxx.xxx grad( $blue_light, $blue_dark );
	}
	
	&.error {
xxx@xxx.xxx grad( $red_light, $red_dark );
	}
	
xxx@xxx.xxx clearfix;
}


// ----------------------------
// Page and Main Containers
// ----------------------------

#page {
	width: $page-width;
	margin: 20px auto;
	
	#outer_container {
xxx@xxx.xxx slitted;
		z-index: 10;
		
		width: $outer-width;
		margin-bottom: 50px;
		
		#inner_container {
xxx@xxx.xxx slitted;
			z-index: 5;
			
			width: $inner-width;
			padding-top: 40px;
			padding-bottom: 40px;
			
			min-height: 400px;
xxx@xxx.xxx clearfix();
		} // end inner_container
	} // end outer_container
	
	#page_content {
xxx@xxx.xxx debug_border;
xxx@xxx.xxx outset-left;
		width: $page-width + 26.7%;
		
		overflow: hidden;
		
		// ---------------------------
		// big green page banner (large tab)
		// ---------------------------
		header {
			margin: 0 0 30px 0;

			width: 100%;
xxx@xxx.xxx giant_tab_style;

			box-shadow: 0px 2px 2px #555, inset 10px 0px 20px -8px #555, inset -10px 0px 20px -8px #555;


			// --------------------------------
			// small top text on banner
			// --------------------------------
			p {
				border-bottom: 1px inset darken(#57784B, 10%);
				margin: 0;
				padding: 5px 20px;
				font-style: italic;
				font-size: 1.1em;
				color: #eee;
			}


			// ---------------------------------
			// main banner text
			// ---------------------------------
			h1 {
				color: #fff;
				margin: 0;
xxx@xxx.xxx georgia_family;
				font-size: 2em;
				letter-spacing: 3px;
				padding: 10px 20px;
				font-style: normal;
				
				a {
					color: #fff;
				} //end a
			} // end h1
		} // end header
	} // end #page_content
	

	
	// ----------------------------
	// footer (large tab)
	// ----------------------------
	footer {
		width: $outer-width;
		margin: 0 auto;

		background-image: url(small_left_slit.png), url(small_right_slit.png);
		background-position: top left, top right;
		padding: 20px 2px 20px 2px;
		background-size: 6px 100%;
		background-repeat: no-repeat;

		div.content {
			padding: 23px 20px 20px 20px;

xxx@xxx.xxx giant_tab_style;

			box-shadow: 0px 2px 2px #555, inset 5px 0px 10px -8px #000, inset -5px 0px 10px -8px #000;

			div#copyright {
				float: left;
				
				a {
					color: #fff;
				}
			}

			ul {
				float: right;

				li {
					float: right;

					a {
						color: #fff;
						padding-left: 10px;
					}
				} // end li
			} // end ul

xxx@xxx.xxx clearfix;
		} // end div.content
		
		label {
			color: $background-text-color;
		}
	} // end footer


	// -----------------------------
	// details and resources sections (right aligned not very wide)
	// -----------------------------
	
	div#resources {
xxx@xxx.xxx debug_border;
		width: 35%;
		float: right;
		
		h1 {
			display: none;
		}
		
		header h1 {
			display: block;
		}
		
				
		// -----------------------------
		// tabs with icons
		// -----------------------------

		a.icon {
			background-repeat: no-repeat;
			background-position: 95% center;
			padding-right: 50px;
			
			background-size: 20px;
		}
	
		a.icon.download {
			background-image: url( arrow_down_alt1_32x32.png );
		}
	
		a.icon.upload {
			background-image: url( arrow_up_alt1_32x32.png );
		}
	
		a.icon.file {
			background-image: url( document_alt_stroke_24x32.png );
			background-size: 15px;
		}
	
		a.icon.email {
			background-image: url( at_32x32.png );
		}
	
		a.icon.star {
			background-image: url( star_32x32.png );
		}
	
		a.icon.wrench {
			background-image: url( wrench_32x32.png );
		}
	
		a.icon.cog {
			background-image: url( cog_alt_32x32.png );
		}
		
	} // end div#resources
} // end page


// --------------------------------------------------------
// small nav links above banner
// --------------------------------------------------------
nav {
	clear: left;
xxx@xxx.xxx inset;
	padding: 0 20px 5px 20px;
		
	h1 {
		display: none;
	}
		
	a {
		font-size: .8em;
xxx@xxx.xxx neue_family;
		letter-spacing: 1px;
		color: $background-text-color;
		font-weight: bold;
		margin-right: 10px;
		padding: 2px 0;
			
		&:hover {
			color: #fff;
		}
			
		&.icon {
			background-repeat: no-repeat;
		}
		
		&#print {
			float: right;
			padding-right: 40px;
			padding-left: 20px;
			background-image: url(bolt_32x32.png);
			background-size: 12px 12px;
			background-position: 0 4px;
				
			&:hover {
				background-image: url(bolt_32x32_active.png);
			}
		}
					
		&.back {
			padding-left: 20px;
			background-image: url(undo_32x32.png);
			background-size: 12px 12px;
			background-position: 0 4px;
				
			&:hover {
				background-image: url(undo_32x32_active.png);
			}
		}
			
		&.rss {
			padding-left: 18px;
			background-image: url(rss_32x32.png);
			background-size: 12px 12px;
			background-position: 0 4px;
			float: right;
			margin-right: 40px;
				
			&:hover {
				background-image: url(rss_32x32_active.png);
			}
		}
			
		&.ical {
			padding-left: 18px;
			background-image: url(calendar_alt_fill_32x32.png);
			background-size: 12px 12px;
			background-position: 0 3px;
			float: right;
				
			&:hover {
				background-image: url(calendar_alt_fill_32x32_active.png);
			}
		}			
	}
		
xxx@xxx.xxx clearfix;
} // end nav


// --------------------------------------------------------
// tab styles
// --------------------------------------------------------

// ----------------------------
// semester sections (like homepage), 
// semesters index, 
// instructors index
// courses index
// course materials index
// ----------------------------
ul#semester_sections, ul#semesters, ul#instructors, ul#courses, ul#course_materials, ul#section_examples {
xxx@xxx.xxx inset;
	
	li {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx alternate_sides;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx three_part;
	}
	
	padding-top: 5px;
	overflow: hidden;
xxx@xxx.xxx clearfix;
}


// ----------------------------
// instructor contact card
// ----------------------------

div#instructor_details {
xxx@xxx.xxx paper;
xxx@xxx.xxx left_tab;
xxx@xxx.xxx wide_tab;
	
	.tcc_logo {
		float: left;
	}

	a:hover {
		color: #005698;
	}

	hr {
		margin: 0 0 0 200px;
		padding: 0;
	}

	p {
xxx@xxx.xxx helvetica_family;
		margin: 0 0 0 200px;
		padding: 3px 0;
	
		&.org {
xxx@xxx.xxx georgia_family;
			line-height: 36px;
			font-size: 2em;
			padding: 5px 0 20px 0;
			font-style: italic;
		}
		
		&.fn {
			font-weight: bold;
		}
		
		&.tel {
			padding-top: 10px;
		}
		
		&.office_hours {
			padding-bottom: 10px;
		}
		
		&.address {
			padding-top: 10px;
		}
	}
}


// ---------------------------
// course disclaimer
// ---------------------------

p#disclaimer, #tutorial_step, .admin_comments {
xxx@xxx.xxx paper;
xxx@xxx.xxx text;
xxx@xxx.xxx centered_tab;
	
	&.wide {
xxx@xxx.xxx giant_tab_style;
xxx@xxx.xxx full_width;
	}
	
	h1 {
		font-size: 1.2em;
xxx@xxx.xxx walkway_family;
	}
	
	img {
		width: 100%;
	}
	
	#enrollments_chart {
		position: relative;
		left: -30px;
		margin: 0 auto;
		width: 75%;
// 		height: 90%;
	}
}


// ---------------------------
// paper left tabs
// ---------------------------

div#course_description, div#course_objectives, p#no_assignments, div#assignment_instructions {
xxx@xxx.xxx paper;
xxx@xxx.xxx left_tab;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx text;
	
	table {
		border: 1px solid #ccc;
		width: 100%;
		
		tr {
			&:nth-child(odd) {
				background-color: #eee;
			}
			
			th, td {
				padding: 5px 10px;
			}
			
			th {
				background-color: #ddd;
			}
		}
	}
}


// ---------------------------
// syllabus
// ---------------------------

#syllabus {
xxx@xxx.xxx paper;
xxx@xxx.xxx centered_tab;
	width: 90%;
	
	h1, h2, h3 {
		margin: 0;
	}
	
	h3 {
		font-weight: normal;
		font-size: 1em;
	}
	
	h1 {
		font-size: 4em;
xxx@xxx.xxx neue_family;
	}
	
	h2 {
		font-size: 2em;
		font-weight: normal;
	}
	
	table {
		width: 100%;
		margin-top: 15px;

		tr {
			border-bottom: 1px solid #eee;
			
			&:last-child {
				border-bottom: 0;
			}
		}
		
		td {
			padding: 5px 30px 5px 0;
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	div {
		margin: 30px 0;
		
		h3 {
			font-size: 1.2em;
xxx@xxx.xxx walkway_family;
		}
	}
	
	ul {
		li {
			list-style: circle;
		}
	}
	
	ol {
		li {
			list-style: decimal-leading-zero;
		}
	}
	
	ul, ol {
		margin-left: 30px;
		
		li {
			margin: 5px 0;
		}
	}
}


// --------------------------------------------------------
// downset blue page section header styles
// --------------------------------------------------------

#page_content {
	header#instructor_header, header#course_description_header, header#course_objectives_header, header#assignment_instructions_header {
		z-index: 10;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx blue_header;
xxx@xxx.xxx left_tab;
xxx@xxx.xxx downset;
		
		h1 {
xxx@xxx.xxx right_cap;
		}
	}
	
	#resources header#requirements_header {
xxx@xxx.xxx blue_header;
xxx@xxx.xxx right_tab;
		width: 100%;
		
		h1 {
			padding: 10px;
xxx@xxx.xxx left_cap;
		}
	}
}


// --------------------------------------------------------
// blue page section header styles
// --------------------------------------------------------

#page_content {
	header#course_labs_header, header#assignments_header, header#assignment_extras_header, header#view_semesters_header {
xxx@xxx.xxx medium_tab;
		width: 56%;
xxx@xxx.xxx blue_header;
xxx@xxx.xxx left_tab;
		
		h1 {
xxx@xxx.xxx right_cap;
		}
	} 
}


// --------------------------------------------------------
// right side table tabs
// --------------------------------------------------------

table#requirements {
xxx@xxx.xxx grad( #82A169, #57784B );
xxx@xxx.xxx right_tab_shadow;

	width: 100%;
	float: right;

	border-collapse: collapse;
	color: #fff;
	font-size: .9em;
	margin-bottom: 30px;
	
	tr {
		border-bottom: 1px solid darken(#57784B, 10%);
		
		&:last-child {
			border-bottom: none;
			font-weight: bold;
		}
		
		&:first-child {
			td {
				padding-top: 20px;
			}
		}
		
		td {
			padding: 10px 20px;
			
			&:last-child {
				text-align: right;
				width: 30%;
			}
		} // end td
	} // end tr
}


// --------------------------------------------------------
// left multicolored tabs
// --------------------------------------------------------

ul#course_labs, ul#assignments, ul#assignment_extras, ul#admin_semesters {
xxx@xxx.xxx debug_border;
xxx@xxx.xxx inset;
	
	/* added because safari 6 changed something that only affected this one element */
	margin-left: 0%;
	/* --- */
	
	overflow: hidden;
	width: 50%;
	padding-top: 5px;
	
	clear: left;
	
	li {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx left_tab;
xxx@xxx.xxx medium_tab;
		width: 90%;
xxx@xxx.xxx three_part;
		clear: left;
	}
}


// --------------------------------------------------------
// right small multicolored tabs
// --------------------------------------------------------

ul#course_links, ul#tutorials, ul#past_sections, ul#section_links, ul#assignment_links, ul#data_links, ul#request_links {	
	li {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx right_tab;
xxx@xxx.xxx short_tab;
xxx@xxx.xxx one_part;
		
		a {
xxx@xxx.xxx left_cap;
		}
	}
}


// --------------------------------------------------------
// right and left multicolored tabs
// --------------------------------------------------------

ul#next_prev {
xxx@xxx.xxx inset;
	
	li.prev {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx left_tab;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx one_part;

		a {
xxx@xxx.xxx right_cap;
		}
	}

	li.next {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx right_tab;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx one_part;
		
		a {
xxx@xxx.xxx left_cap;
		}
	}
	
	padding-top: 10px;
	overflow: hidden;
xxx@xxx.xxx clearfix;
}


// -----------------------------
// assignment objective
// -----------------------------

#assignment_objective {
xxx@xxx.xxx grad( #86AC4B, #3F7126 );
xxx@xxx.xxx wide_tab;
xxx@xxx.xxx left_tab;
	color: #fff;

	strong {
		display: block;
		border-bottom: 1px solid darken(#3F7126, 10%);
		padding: 3px 20px;
		font-weight: normal;
xxx@xxx.xxx neue_family;
	}
	
	p {
		margin: 0;
		padding: 10px 20px;
xxx@xxx.xxx georgia_family;
	}
}


// ----------------------------
// fancy tables
// ----------------------------

div.fancy table {
	border-collapse: separate;
	border-spacing: 10px;
	width: 99.8%;
	margin-left: 1px;
	margin-bottom: 20px;
xxx@xxx.xxx giant_tab_style;
	box-shadow: 0px 2px 2px #555, inset 10px 0px 20px -8px #555, inset -10px 0px 20px -8px #555;
	
	a {
		color: #fff;
	}
		
	th {
		text-align: left;
		padding: 10px 0 0 10px;
	}
	
	tr {
		
		td {
			padding: 10px;
			background-color: #669966;
			font-size: 1.2em;
		
			&:first-child {
				padding-left: 10px
			}
			
			&:last-child {
				padding-right: 20px;
			}
			
			&.title, &.enrollments, &.days {
				font-size: 1.1em;
			}
			
			&.status, &.edit, &.destroy, &.show, &.deenroll, &.grade, &.ungrade {
				text-align: center;
				background-color: transparent;
				text-shadow: none;
				padding: 0;

				&:hover {
					background-color: #0a0;
				}
				
				a {
					display: block;
					padding: 10px;
				}
			}
			
			&.status {
				position: relative;
				width: 10px;
				
				left: 10px;
				
				&.red {
					background-color: #770000;
				}
				
				&.green {
					background-color: #009900;
				}
				
				&:hover {
					background-color: transparent;
				}
			}
			
			&.enrollments, &.days, &.worth, &.avg {
				text-align: center;
			}
			
			&.blank {
				text-align: right;
				background-color: transparent;
				border: 0;
			}
		}
	}
	
	td {
		input[type=text], input[type=number] {
			background-color: #889883;
			padding: 10px 15px; //inner field padding
			
			width: 80%;
			
			font-size: 1.1em;
			color: #fff;
		}
	}
} //end fancy tables

p.paginated_links {
	text-align: center;
	font-size: 1.2em;
	width: $inner-width - 5;
	margin: 0 auto;
	
	a {
		color: #eee;
	}
	
	span.link {
		padding-right: 20px;
	}
}

// ----------------------------
// admin action tabs
// ----------------------------

ul.actions {
	li {
xxx@xxx.xxx color_grad;
xxx@xxx.xxx alternate_sides;
xxx@xxx.xxx medium_tab;
xxx@xxx.xxx one_part;
	}
}
