<li id="how_to_<%= how_to.id.to_s %>" class="how_to">
	<div>
		<%= link_to_function "Add \"#{how_to.title}\" to this course", 'add_tutorial( "' + xxx@xxx.xxx ) + '", "' + how_to.id.to_s + '", "' + form_authenticity_token + '" )' %>
	</div>
</li>
