
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/tutorials/tutorials_header', locals: {main: true} %>

<div class="block how_tos">
	<h5>Edit How to</h5>
</div>

<%= render 'form' %>
