
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/tutorials/tutorials_header', locals: {main: true} %>

<div class="block how_tos">
	<header>
		<h5>New How to</h5>	
	</header>

</div>

<%= render 'form' %>
