<div class="block materials">
	<header>
		<%= link_to material.file.url do %>
			<p><%= material.title %></p>
			<h3><%= material.created_at.to_s(:short) %></h3>
		<% end %>
	</header>
	
	<p><%= material.description %></p>
</div>
