<tr id="attendance_<%= attendance.id.to_s %>" class="attendance_row enrollments">
	<td>
		<%= link_to show_date_and_time(attendance.meeting.when), admin_semester_section_meeting_attendances_path(@semester,@section,attendance.meeting) %>
	</td>
	<% AttendanceStatus.all.each do |status| %>
		<td class="<%= status.name %> attendance_cell">
	  <% if attendance.attendance_status and attendance.attendance_status.id == status.id %>
	    <%= attendance.attendance_status.name %>
	  <% else %>
	  	-
	  <% end %>
	  </td>
	<% end %>
</tr>
