<div class="block <%= double_width_if_main(defined? main) %> enrollments header">
	<p><%= pluralize section.enrollments.size, 'Enrollment' %></p>
	<h5><%= link_to 'Enrollments', admin_semester_section_enrollments_path(section.semester, section) %></h5>
	<ul>
		<li><%= link_to 'Add Enrollment', new_admin_semester_section_enrollment_path( section.semester, section ) %></li>
	</ul>
</div>
