<div class="block form">
	<%= xxx@xxx.xxx remote: true) do |f| %>
		<%= xxx@xxx.xxx %>
		<ol>
			<li>
				<div class="details">
					<label for="email">Email Address: </label>
					<p></p>
				</div>
				
				<div class="field"><%= text_field_tag 'email' %></div>
			</li>

			<li class="action">
				<div><%= f.submit "Enroll" %></div>
			</li>
		</ol>
	<% end %>
</div>
