<div class="block form enrollments">
	<%= form_for([:admin,@semester,@section,@enrollment], remote: true) do |f| %>
		<%= show_error_messages_for @enrollment %>
		<ol>
			<li>
				<div class="details">
					<label for="email">Email Address: </label>
					<p></p>
				</div>
				
				<div class="field"><%= text_field_tag 'email' %></div>
			</li>

			<li class="action">
				<div><%= f.submit "Enroll" %></div>
			</li>
		</ol>
	<% end %>
</div>
