<div class="block <%= double_width_if_main(defined? main) %>">
	<header>
		<p><%= pluralize lab.worth, 'point' %></p>
		<h2><%= link_to lab.title, course_lab_path(lab.course, lab) %></h2>
	</header>
	<ul id="assignment_links">
		<li><a href="#" id="print" class="icon file">Print this Lab</a></li>
		
		<% if current_user %>
			<li><%= link_to 'Edit this Lab', edit_admin_course_lab_path(lab.course, lab) %></li>
		<% end %>			
	</ul>
</div>
