<%= content_for :header do %>
	<h1>New Course</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', admin_courses_path, :class => "icon back" %>
	</nav>
	
	<header>
		<p>Add a new course</p>
		<h1>Add Course</h1>
	</header>

	<%= render :partial => 'form', :locals => {:submit_name => 'Create'} %>
</section>
