
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>

xxx@xxx.xxx do |waiter| %>
  <div class="block waiters">
    <h5><%= mail_to waiter.email %></h5>
		<p>
		  Created:
		  <%= show_short_date(waiter.created_at) %>
		</p>
		<ul>
			<li><%= link_to 'Destroy', xxx@xxx.xxx waiter], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></li>
		</ul>
	</div>
<% end %>
